@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "style";

body {
  font-family: 'Open Sans', sans-serif;
}

.nav-link > .img-avatar > img {
  height: 35px;
  margin: 0 10px;
}

.navbar-brand img {
  height: 27px;
  margin-left: 9px;
}

.current-user-fullname {
  float: right;
  margin-top: 4px;
  margin-right: 6px;
}

.vuetable-body-wrapper {
  overflow-x: scroll;
}

.vuetable-body-wrapper .user-report {
  width: 3500px !important;
}

.vuetable-body-wrapper .camera-report {
  width: 3500px !important;
}

.user-report thead tr th,
.user-report tbody tr td {
  white-space: nowrap !important;
  text-overflow: clip;
}

.camera-report thead tr th,
.camera-report tbody tr td {
  white-space: nowrap !important;
  text-overflow: clip;
}

.vuetable-body-wrapper .user-report .user-checkbox {
  width: 35px;
}

.vuetable-body-wrapper .user-report .vuetable-th-payment_method {
  width: 115px;
}

.vuetable-body-wrapper .user-report .vuetable-th-name_link {
  width: 240px;
}

.vuetable-body-wrapper .user-report .vuetable-th-email {
  width: 250px;
}

.vuetable-body-wrapper .user-report .vuetable-th-cameras_owned,
.vuetable-body-wrapper .user-report .vuetable-th-camera_shares,
.vuetable-body-wrapper .user-report .vuetable-th-total_cameras,
.vuetable-body-wrapper .user-report .vuetable-th-snapmail_count,
.vuetable-body-wrapper .user-report .vuetable-th-country {
  width: 150px;
}

.vuetable-body-wrapper .user-report .vuetable-th-created_at,
.vuetable-body-wrapper .user-report .vuetable-th-last_login_at {
  width: 250px;
}

.vuetable-body-wrapper .user-report .vuetable-th-required_licence,
.vuetable-body-wrapper .user-report .vuetable-th-valid_licence,
.vuetable-body-wrapper .user-report .vuetable-th-def {
  width: 165px;
}

.vuetable-body-wrapper .user-report .vuetable-th-api_id {
  width: 100px;
}

.vuetable-body-wrapper .user-report .vuetable-th-api_key {
  width: 300px;
}

.vuetable-body-wrapper .user-report .vuetable-td-def,
.vuetable-body-wrapper .user-report .vuetable-td-valid_licence,
.vuetable-body-wrapper .user-report .vuetable-td-required_licence,
.vuetable-body-wrapper .user-report .vuetable-td-cameras_owned,
.vuetable-body-wrapper .user-report .vuetable-td-camera_shares,
.vuetable-body-wrapper .user-report .vuetable-td-total_cameras,
.vuetable-body-wrapper .user-report .vuetable-td-snapmail_count,
.vuetable-body-wrapper .camera-report .vuetable-td-total_share,
.vuetable-body-wrapper .camera-report .vuetable-td-external_http_port,
.vuetable-body-wrapper .camera-report .vuetable-td-external_rtsp_port,
.vuetable-body-wrapper .camera-report .vuetable-td-is_public,
.vuetable-body-wrapper .camera-report .vuetable-td-is_online,
.vuetable-body-wrapper .camera-report .vuetable-td-cloud_recording_storage_duration,
.vuetable-body-wrapper .camera-report .vuetable-td-is_recording,
.vuetable-body-wrapper .camera-share-report .vuetable-td-kind,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-poe,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-wifi,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-onvif,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-psia,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-ptz,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-infrared,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-varifocal,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-sd_card,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-upnp,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-audio_io,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-camera_count,
.vuetable-body-wrapper .vendor-model-report .vuetable-td-channel,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-storage_duration,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-status,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-interval,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-online,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-public,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-schedule,
.vuetable-body-wrapper .cloud-recording-report .vuetable-td-licences,
.vuetable-body-wrapper .cloud-recording-report .vuetable-slot,
.vuetable-body-wrapper .user-report .vuetable-slot,
.vuetable-body-wrapper .camera-report .vuetable-slot,
.vuetable-body-wrapper .csr-report .vuetable-slot,
.vuetable-body-wrapper .admin-report .vuetable-td-sign_in_count,
.vuetable-body-wrapper .admin-report .vuetable-td-last_sign_in_ip,
.vuetable-body-wrapper .snapmail-report .vuetable-td-notify_time,
.vuetable-body-wrapper .snapmail-report .vuetable-td-timezone,
.vuetable-body-wrapper .snapmail-report .vuetable-td-is_paused,
.vuetable-body-wrapper .csr-report .vuetable-td-status,
.vuetable-body-wrapper .archives-report .vuetable-td-public,
.vuetable-body-wrapper .archives-report .vuetable-td-status,
.vuetable-body-wrapper .compares-report .vuetable-td-status,
.vuetable-body-wrapper .archives-report .vuetable-td-duration,
.vuetable-body-wrapper .compares-report .vuetable-slot,
.vuetable-body-wrapper .snapmail-history-report .vuetable-slot,
.vuetable-body-wrapper .ic-users-report .vuetable-slot,
.vuetable-body-wrapper .se-report .vuetable-td-id,
.vuetable-body-wrapper .se-report .vuetable-td-interval,
.vuetable-body-wrapper .se-report .vuetable-td-status,
.vuetable-body-wrapper .ic-report .vuetable-td-user_count,
.vuetable-body-wrapper .ic-report .vuetable-td-session_count,
.vuetable-body-wrapper .ic-report .vuetable-slot,
.vuetable-body-wrapper .dc-report .vuetable-td-is_recording,
.vuetable-body-wrapper .dc-report .vuetable-td-online,
.vuetable-body-wrapper .dc-report .vuetable-td-count,
.vuetable-body-wrapper .dc-report .vuetable-slot,
.vuetable-body-wrapper .licences-report .vuetable-td-total_cameras,
.vuetable-body-wrapper .licences-report .vuetable-td-storage,
.vuetable-body-wrapper .licences-report .vuetable-td-amount,
.vuetable-body-wrapper .licences-report .vuetable-td-status,
.vuetable-body-wrapper .licences-report .vuetable-td-auto_renew,
.vuetable-body-wrapper .licences-report .vuetable-td-payment_method,
.vuetable-body-wrapper .licences-report .vuetable-td-expiry,
.vuetable-body-wrapper .compares-report .vuetable-td-download {
  text-align: center;
}

.vuetable-body-wrapper .camera-report .camera-checkbox {
  width: 35px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-exid {
  width: 130px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-created_at,
.vuetable-body-wrapper .licences-report .vuetable-th-created_at,
.vuetable-body-wrapper .licences-report .vuetable-th-end_date,
.vuetable-body-wrapper .licences-report .vuetable-th-start_date,
.vuetable-body-wrapper .ic-report .vuetable-th-created_at,
.vuetable-body-wrapper .ic-users-report .vuetable-th-created_at,
.vuetable-body-wrapper .compares-report .vuetable-th-inserted_at,
.vuetable-body-wrapper .camera-report .vuetable-th-last_polled_at,
.vuetable-body-wrapper .camera-report .vuetable-th-last_online_at,
.vuetable-body-wrapper .camera-share-report .vuetable-th-created_at {
  width: 250px;
}

.vuetable-body-wrapper .compares-report .vuetable-th-camera_link,
.vuetable-body-wrapper .meta-datas-report .vuetable-th-camera_link,
.vuetable-body-wrapper .camera-report .vuetable-th-camera_link {
  width: 200px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-owner_email {
  width: 250px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-payment_method {
  width: 120px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-name {
  width: 200px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-total_share {
  width: 95px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-external_host {
  width: 250px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-external_http_port {
  width: 120px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-external_rtsp_port {
  width: 120px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-username,
.vuetable-body-wrapper .camera-report .vuetable-th-password {
  width: 150px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-vendor_model_name {
  width: 245px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-vendor_name {
  width: 135px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-timezone {
  width: 155px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-is_public {
  width: 100px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-is_online {
  width: 100px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-cloud_recording_storage_duration {
  width: 120px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-is_recording {
  width: 130px;
}

.vuetable-body-wrapper .camera-report .vuetable-th-mac_address {
  width: 150px;
}

.vuetable-body-wrapper .camera-share-report .vuetable-th-kind {
  width: 150px;
}

.vuetable-body-wrapper .camera-share-report .vuetable-th-camera_sharer_link,
.vuetable-body-wrapper .camera-share-report .vuetable-th-camera_sharee_link {
  width: 200px;
}

.vuetable-body-wrapper .camera-share-report .vuetable-th-exid {
  width: 130px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-exid {
  width: 250px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-vendor_name {
  width: 158px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-name {
  width: 258px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-channel {
  width: 108px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-jpg_url {
  width: 664px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-h264_url {
  width: 320px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-mpeg4_url {
  width: 320px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-camera_count {
  width: 85px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-resolution {
  width: 115px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-shape {
  width: 90px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-poe,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-wifi,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-onvif,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-psia,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-ptz,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-infrared,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-varifocal,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-sd_card,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-upnp,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-audio_io {
  width: 110px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-mobile_url {
  width: 280px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-lowres_url {
  width: 290px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-username,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-password {
  width: 120px;
}

.vuetable-body-wrapper .vendor-model-report .vuetable-th-audio_url {
  width: 150px;
}

.vuetable-body-wrapper .vendor-report .vuetable-th-slot-custom-actions,
.vuetable-body-wrapper .vendor-model-report .vuetable-th-slot-custom-actions {
  width: 97px;
}

.user-filters_css {
  margin-top: 11px;
}

.m-left-2 {
  margin-left: 3px;
}

.cameras-filter_css {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 1px;
}

.top-scrollbar {
  width: 100%;
  height: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 6px;

  .top-horizontal-scroll {
    height: 20px;
  }
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-camera_name {
  width: 210px;
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-camera_link {
  width: 200px;
}

.vuetable-body-wrapper .se-report .vuetable-th-status,
.vuetable-body-wrapper .cloud-recording-report .vuetable-th-status {
  width: 110px
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-storage_duration {
  width: 103px
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-interval {
  width: 147px;
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-schedule {
  width: 145px;
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-online,
.vuetable-body-wrapper .cloud-recording-report .vuetable-th-public {
  width: 95px;
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-slot-cr-edit-slot {
  width: 45px;
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-licences {
  width: 100px;
}

.vuetable-body-wrapper .cloud-recording-report .vuetable-th-payment_method {
  width: 115px;
}

.vuetable-body-wrapper .vendor-report .vuetable-th-exid {
  width: 85px;
}

.vuetable-body-wrapper .vendor-report .vuetable-th-exid {
  width: 85px;
}

.vuetable-body-wrapper .vendor-report .vuetable-th-name {
  width: 165px;
}

.vuetable-body-wrapper .admin-report .vuetable-th-slot-custom-actions {
  width: 70px;
}

.vuetable-body-wrapper .admin-report .vuetable-th-fullname {
  width: 150px;
}

.vuetable-body-wrapper .admin-report .vuetable-th-email {
  width: 183px;
}

.ui.table td,
.ui.table th {
  padding: 0px 5px !important;
  text-align: inherit;
}

.ui.table {
  font-size: 13px !important;
}

.vuetable-body-wrapper .admin-report .vuetable-th-created_at,
.vuetable-body-wrapper .se-report .vuetable-th-created_at,
.vuetable-body-wrapper .archives-report .vuetable-th-created_at,
.vuetable-body-wrapper .se-report .vuetable-th-to_date,
.vuetable-body-wrapper .archives-report .vuetable-th-to_date,
.vuetable-body-wrapper .se-report .vuetable-th-from_date,
.vuetable-body-wrapper .archives-report .vuetable-th-from_date,
.vuetable-body-wrapper .snapmail-history-report .vuetable-th-inserted_at,
.vuetable-body-wrapper .csr-report .vuetable-th-created_at,
.vuetable-body-wrapper .snapmail-report .vuetable-th-inserted_at,
.vuetable-body-wrapper .meta-datas-report .vuetable-th-inserted_at,
.vuetable-body-wrapper .admin-report .vuetable-th-updated_at,
.vuetable-body-wrapper .admin-report .vuetable-th-last_sign_in_at,
.vuetable-body-wrapper .admin-report .vuetable-th-current_sign_in_at {
  width: 250px;
}

.vuetable-body-wrapper .admin-report .vuetable-th-sign_in_count {
  width: 130px;
}

.vuetable-body-wrapper .admin-report .vuetable-th-last_sign_in_ip {
  width: 140px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-fullname {
  width: 180px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-cameras {
  width: 320px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-recipients {
  width: 300px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-notify_days {
  width: 410px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-notify_time {
  width: 125px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-timezone {
  width: 150px;
}

.vuetable-body-wrapper .snapmail-report .vuetable-th-is_paused,
.vuetable-body-wrapper .archives-report .vuetable-th-paused {
  width: 100px;
}

.vuetable-body-wrapper .csr-report .vuetable-th-sharee_email {
  width: 189px;
}

.vuetable-body-wrapper .csr-report .vuetable-th-camera {
  width: 200px;
}

.vuetable-body-wrapper .csr-report .vuetable-th-sharer {
  width: 150px;
}

.vuetable-body-wrapper .csr-report .vuetable-th-message {
  width: 400px;
}

.vuetable-body-wrapper .csr-report .vuetable-th-rights,
.vuetable-body-wrapper .csr-report .vuetable-th-status {
  width: 100px;
}

.vuetable-body-wrapper .csr-report .csr-checkbox {
  width: 30px;
}

.vuetable-body-wrapper .snapmail-history-report .vuetable-th-recipients {
  width: 200px
}

.vuetable-body-wrapper .snapmail-history-report .vuetable-th-camera_ids {
  width: 350px;
}

.vuetable-body-wrapper .snapmail-history-report .vuetable-th-camera_ids_failed {
  width: 350px;
}

.vuetable-body-wrapper .snapmail-history-report .vuetable-th-subject {
  width: 250px;
}

.vuetable-body-wrapper .snapmail-history-report .vuetable-th-slot-template-slot {
  width: 50px;
}

.vuetable-body-wrapper .archives-report .vuetable-th-duration {
  width: 115px;
}

.vuetable-body-wrapper .archives-report .vuetable-th-title {
  width: 290px;
}

.vuetable-body-wrapper .archives-report .vuetable-th-exid {
  width: 175px;
}

.vuetable-body-wrapper .compares-report .vuetable-th-name_link,
.vuetable-body-wrapper .archives-report .vuetable-th-name_link {
  width: 235px;
}

.vuetable-body-wrapper .compares-report .vuetable-th-status,
.vuetable-body-wrapper .archives-report .vuetable-th-status {
  width: 110px;
}

.vuetable-body-wrapper .compares-report .vuetable-th-name {
  width: 250px;
}

.vuetable-body-wrapper .compares-report .vuetable-th-slot-embed_code_slot {
  width: 105px;
}

.vuetable-body-wrapper .compares-report .vuetable-th-download {
  width: 135px;
}

.mx-datepicker .mx-shortcuts-wrapper {
  display: none;
}

#api-wait {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 99999;
}

.vuetable-body-wrapper .se-report .vuetable-th-id {
  width: 70px
}

.vuetable-body-wrapper .se-report .vuetable-th-camera {
  width: 215px;
}

.vuetable-body-wrapper .se-report .vuetable-th-interval {
  width: 100px;
}

.vuetable-body-wrapper .se-report .vuetable-th-notes {
  width: 350px;
}

.vuetable-body-wrapper .se-report .vuetable-th-requestor {
  width: 200px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-camera_exid {
  width: 150px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-requester {
  width: 150px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-action {
  width: 100px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-rtsp_url {
  width: 640px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-resolution {
  width: 120px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-frame_rate {
  width: 125px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-bit_rate {
  width: 85px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-codec {
  width: 75px;
}

.vuetable-body-wrapper .meta-datas-report .vuetable-th-ip {
  width: 130px;
}

.vuetable-body-wrapper .ic-report .vuetable-th-session_count {
  width: 150px;
}

.vuetable-body-wrapper .ic-report .vuetable-th-user_count {
  width: 130px;
}

.vuetable-body-wrapper .ic-report .vuetable-th-company_id {
  width: 260px;
}

.vuetable-body-wrapper .ic-report .vuetable-th-name {
  width: 240px;
}

.vuetable-body-wrapper .ic-report .vuetable-th-slot-company-actions {
  width: 60px;
}

.vuetable-body-wrapper .dc-report .vuetable-th-is_recording,
.vuetable-body-wrapper .dc-report .vuetable-th-online,
.vuetable-body-wrapper .dc-report .vuetable-th-count {
  width: 130px;
}

.vuetable-body-wrapper .dc-report .vuetable-th-slot-action-slot {
  width: 50px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-exid,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-exid {
  width: 132px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-name,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-name {
  width: 195px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-model,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-model {
  width: 160px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-device,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-device {
  width: 200px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-mac_address,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-mac_address {
  width: 150px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-firmware {
  width: 110px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-resolution,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-resolution {
  width: 100px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-bitrate_type,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-bitrate_type {
  width: 110px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-video_quality,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-video_quality {
  width: 120px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-fps,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-fps {
  width: 60px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-max_bitrate,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-max_bitrate {
  width: 108px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-encoding,
.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-encoding {
  width: 86px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-nvr_status {
  width: 122px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-hdd_name {
  width: 100px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-hdd_capacity {
  width: 130px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-hd_free_space {
  width: 120px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-status {
  width: 70px;
}

.vuetable-body-wrapper .construction-nvr-report .vuetable-th-property {
  width: 80px;
}

.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-manage_port {
  width: 115px;
}

.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-online {
  width: 115px;
}

.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-vh_port {
  width: 90px;
}

.vuetable-body-wrapper .construction-nvr-vh-report .vuetable-th-url {
  width: 300px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-email {
  width: 218px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-name_link {
  width: 179px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-country_name {
  width: 135px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-description {
  width: 310px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-total_cameras {
  width: 115px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-storage {
  width: 100px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-expiry {
  width: 100px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-amount {
  width: 100px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-auto_renew {
  width: 125px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-status {
  width: 100px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-payment_method {
  width: 155px;
}

.vuetable-body-wrapper .licences-report .vuetable-th-slot-delete-slot {
  width: 40px;
}

.vuetable-body-wrapper .storage-report .vuetable-th-exid {
  width: 200px;
}

.vuetable-body-wrapper .storage-report .vuetable-th-camera_link {
  width: 200px;
}

.vuetable-body-wrapper .storage-report .vuetable-th-dec,
.vuetable-body-wrapper .storage-report .vuetable-td-dec,
.vuetable-body-wrapper .storage-report .vuetable-th-nov,
.vuetable-body-wrapper .storage-report .vuetable-td-nov,
.vuetable-body-wrapper .storage-report .vuetable-th-oct,
.vuetable-body-wrapper .storage-report .vuetable-td-oct,
.vuetable-body-wrapper .storage-report .vuetable-th-sep,
.vuetable-body-wrapper .storage-report .vuetable-td-sep,
.vuetable-body-wrapper .storage-report .vuetable-th-aug,
.vuetable-body-wrapper .storage-report .vuetable-td-aug,
.vuetable-body-wrapper .storage-report .vuetable-th-jul,
.vuetable-body-wrapper .storage-report .vuetable-td-jul,
.vuetable-body-wrapper .storage-report .vuetable-th-jun,
.vuetable-body-wrapper .storage-report .vuetable-td-jun,
.vuetable-body-wrapper .storage-report .vuetable-th-may,
.vuetable-body-wrapper .storage-report .vuetable-td-may,
.vuetable-body-wrapper .storage-report .vuetable-th-apr,
.vuetable-body-wrapper .storage-report .vuetable-td-apr,
.vuetable-body-wrapper .storage-report .vuetable-th-mar,
.vuetable-body-wrapper .storage-report .vuetable-td-mar,
.vuetable-body-wrapper .storage-report .vuetable-th-feb,
.vuetable-body-wrapper .storage-report .vuetable-td-feb,
.vuetable-body-wrapper .storage-report .vuetable-th-jan,
.vuetable-body-wrapper .storage-report .vuetable-td-jan {
  text-align: center;
  width: 30px;
}

.vuetable-body-wrapper .storage-report .snapshot_date {
  width: 210px;
}

.pointer-set {
  cursor: pointer;
}


.vuetable-body-wrapper .ic-users-report .vuetable-th-name {
  width: 260px;
}

.vuetable-body-wrapper .ic-users-report .vuetable-th-email {
  width: 260px;
}

.vuetable-body-wrapper .ic-users-report .vuetable-th-domain {
  width: 200px;
}

.vuetable-body-wrapper .ic-users-report .vuetable-th-username {
  width: 260px;
}

.vuetable-body-wrapper .ic-users-report .vuetable-th-status {
  width: 200px;
}

.vuetable-body-wrapper .ic-users-report .vuetable-th-slot-link-to-company {
  width: 25px;
}
